<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TensorflowJS - Image Prediction</title>
    <style>
        body { max-width: 500px; margin: auto;}
        img, pre { width: 500px; height: auto; }
        pre { overflow:auto; border:1px solid #333333; background-color: #CCCCCC; display: block;}
    </style>
</head>
<body>
    <h1>TensorflowJS - Image Prediction</h1>
    
    <%if (typeof image !== 'undefined') { %>
        <h2>Choose image to predict</h2>
    <% } %>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept=".bmp,.png,.jpg,.jpeg" name="photo" />
        <input type="submit" value="upload"/>
    </form>
    <hr/>
    <%if (typeof image !== 'undefined') { %>
        <img src="data:<%= image.mimetype %>;base64, <%= image.data %>" />
        <h2>Tensorflow predictions:</h2>
        <pre id="json"><%= image.predicitions %></pre>
        <h2>Google results:</h2>
        <pre id="json"><%= image.results %></pre>
    <% } %>
    <%if (typeof error !== 'undefined') { %>
        <pre id="json" style="color:red"><%= error %></pre>
    <% } %>
    </body>
</html>